# Virtual environment for Python
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

__pycache__/
*.pyc

# Ruff cache
.ruff_cache/

# VS Code settings
.vscode/
.cline/
.env

# Streamlit helpers
.streamlit/secrets.toml